.case {
	width: 33.33%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.caseimg {
	width: 75%;
	margin: auto;
}

.casedesc {
	width: 100%;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 60%;
	margin: auto;
	background-color: #ffe4c8;
}
